@using BootstrapSupport
@model Models.MaintainBrandsModel
@Html.Partial("_SecurityCheck") 
@{
    ViewBag.Title = "Maintain Brands";
    ViewBag.PageHeaderImage = "maintenance.png";
    ViewBag.Item = "brand";
    ViewBag.Controller = "Brands";
    ViewBag.Options = Model.Options;
    ViewBag.CurrentController = Model.CurrentController;
}

@Html.Partial("_PageHeader")
<h4>Maintain brands</h4>
<div class="row">
    <div class="col-lg-4">
        @Html.Partial("MaintainOptions")
    </div>
    <div class="col-lg-5">
        @{int index = 0;}
        @using (Html.BeginForm("Save", "Brands", FormMethod.Post, new {@role = "form", @class="form-inline"}))
        {
            @Html.ValidationSummary(false)
            
                if (Model.Brands.Any()) {
                <h4 class="gold-bg">Existing brands <small class="text-whitesmoke"></small></h4>
                    foreach (var brand in Model.Brands)
                    {
                        <div class="row pad-bottom-5">
                            <div class="col-lg-6">
                            @Html.HiddenFor(x => x.Brands.ElementAt(index).Id)
                            @Html.TextBoxFor(x => x.Brands.ElementAt(index).Name, new { @class="form-control"})
                            </div>
                            <div class="col-lg-6">
                            @if(brand.Active)
                            {
                            <a class="pull-right" onclick="showDeactivate(@brand.Id);">Deactivate</a>  
                            }
                            else
                            {
                            <a class="pull-right" onclick="showActivate(@brand.Id);">Activate</a>  
                            }
                            </div>
                        </div>
                        index++;
                    }
                }
                
                <div class="row">
                    <h4 class="gold-bg">New brand <small class="text-whitesmoke"></small></h4>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        @Html.TextBoxFor(x => x.NewBrand, new { id = "brand_name_" + index, @class="form-control"})    
                    </div>
                    <div class="col-lg-6">
                        <input type="submit" class="btn btn-primary pull-right" value="Save" />
                    </div>
                </div>

            
        }
    </div>
</div>

<div class="modal fade" id="deactivateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Confirmation</h4>
        </div>
        @using (Html.BeginForm("Deactivate", "Brands", FormMethod.Post, new { @id = "deactivate_form" }))
        {
        <div class="modal-body">
            Are you sure you would like to remove this @ViewBag.Item?   
            <input type="hidden" id="deactivate_id" name="id" value="-1" />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" onclick="">Deactivate</button>
        </div>
        }
        </div>
    </div>
</div>

<div class="modal fade" id="activateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Confirmation</h4>
        </div>
        @using (Html.BeginForm("Activate", "Brands", FormMethod.Post, new { @id = "activate_form" }))
        {
        <div class="modal-body">
            Are you sure you would like to activate this @ViewBag.Item?   
            <input type="hidden" id="activate_id" name="id" value="-1" />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" onclick="">Activate</button>
        </div>
        }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function showDeactivate(id) {
            $("#deactivate_id").val(id);
            $('#deactivateModal').modal('show')
            return true;
        }
        function showActivate(id) {
            $("#activate_id").val(id);
            $('#activateModal').modal('show')
            return true;
        }
    </script>
    
}